#map_canvas {
    height: 550px;
}

#articles {
    max-height: 550px;
    overflow: auto;
}

.row {min-width:100% !important; }

.f_year {
    width: 60px !important;
    display: inline !important;
}

.f_text {
    width: 200px !important;

}

/* Aligning filter labels and stuff */
.fillab {
    /* align labels with textboxes */
    height: 2em;
    padding: 8px;
    padding-left: 0;
    margin-bottom: 2px !important;
}

.filcollab {
    margin-bottom: 10px !important;
}

.filpush {
    margin-bottom: 10px !important;
}

/* all the !important are overriding foundation.css, but this is terrible coding practice */

.nogutter {
    /* add this to column divs to remove gutter */
    margin: 0;
    padding: 0;
}

.header {
    border-bottom: 1px solid gray;
    padding: 0 10px;
    background-color: #839BE6;
    margin-top: -10px;
}

.header h1 {
    color: #000;
}

.footer {
    border-top: 1px solid gray;
    padding: 10px;
    margin-top: 10px;
    background-color: #839BE6;
}


.seemore {
    margin-top: 4px;
}

/* Buttons */
button {
    background-color: #2ba6cb;
    border-color: #2284a1;
    padding: 0.6em 1em !important;
}

button:hover {
    background-color: #2284a1;
}

/* Textboxes */
input[type="text"] {
    padding: 1px;
    height: 1.6em;
}
